.enterEmail {
    box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.2), 0 0px 5px 0 rgba(0, 0, 0, 0.19);
    border-width: 2px;
    margin-top: .5rem;
    background-color: white;
    background: white;
}
.enterPassword{
    box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.2), 0 0px 5px 0 rgba(0, 0, 0, 0.19);
    border-width: 2px;
    margin-top: .5rem;
}
.wholepage{
    background: linear-gradient(43deg, rgba(158,234,221,1) 6%, rgba(158,234,221,1) 15%, rgba(126,223,220,1) 25%, rgba(79,207,218,1) 40%, rgba(96,219,203,1) 58%, rgba(96,219,203,1) 89%);
    height: 100vh;
    padding-top: 5rem;
}
.LoginButton{
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 6rem;
}
.wrapper{
    box-shadow: 6px 5px 11px 2px rgba(0,0,0,0.75);
    padding: 2rem;
    background-color: white;
    width: 25rem;
    border-radius: 7px;
}