/* .enterPrefix{
    margin: 1rem;
}

.enterCourseNumber{
    margin: 1rem;
}

.enterCourseName{
    margin: 1rem;
}

.enterCourseTerm{
    margin: 1rem;
}

.enterCourseYear{
    margin: 1rem;
} */

/* input {
    position: relative;
}

label {
    display: inline-table;

} */

.courseConfirmBtn{
    display: inline-block;
}

label, input{
    display: block;
    text-align: left;
}

.courseSettingsWrapper{
    box-shadow: 6px 5px 11px 2px rgba(0,0,0,0.75);
    padding: 2rem;
    background-color: white;
    width: 25rem;
    border-radius: 7px;
    text-align: left;
}

.classInfoWrapper{
    display: block;
}

.classScheduleWrapper{
    display: block;
}

.additionalCourseSettingsWrapper{
    display: inline-block;
}

.latePolicyWrapper{
    display: block;
}
/* .classInfoWrapper{
    box-shadow: 6px 5px 11px 2px rgba(0,0,0,0.75);
    padding: 2rem;
    background-color: white;
    width: 25rem;
    border-radius: 7px;
}

.courseStartEndWrapper{
    box-shadow: 6px 5px 11px 2px rgba(0,0,0,0.75);
    padding: 2rem;
    background-color: white;
    width: 25rem;
    border-radius: 7px;
    text-align: left;
}

.courseMeetingsWrapper{

}

.courseAdditionalSettingsWrapper{

} */